.TitleBar {
    font-size: 30px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

#button {  
    background-color: #4ca0af; /* Blue */
    border: none;
    color: white;
    padding: 8px 13px;
    display: inline-block;
    font-size: 35px;
    outline: none;
}


.button {  
    background-color: #4ca0af; /* Blues */
    border: none;
    color: white;
    display: inline-block;
    font-size: 25px;
    outline: none;
}

#Letters {
    text-align: center;
    font-size: 50px;
    padding-bottom: 35px;
}

.hangman, #button, .TitleBar, #Letters, #NoSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



.hangman {
    max-width: 20%;
    width: 20%; 
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.centerLabel{
    display: block;
    text-align: center;
}
.FontSize {
    font-size: 25px;
}