body {
    background-image:linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ),  url('15.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;          
}

#TimeDiv {
    margin-top: 120px;
    text-align: center;
}

#Clock {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;   
}

#Date {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#SearchDiv {
    margin-top: 150px;
}

#SearchBox {
    width: 470px;
    height: 30px;
    outline: none;
    font-size: 20px;
    background-color: white;
    border: transparent
}

#Container {
    margin-top: 150px;
    justify-content: center;
    display: flex;
}

#SearchContainer {
    width: 500px;
    height: 55px;
    border-radius: 25px;
    background-color: white;
    align-items: center;
    display: flex;
}

#Container > div {
    justify-content: center;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
}