.TitleBar {
    font-size: 30px;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 2px;
}

#button {  
    background-color: #4ca0af; /* Blue */
    border: none;
    color: white;
    padding: 0.9vw 0.9vw;
    display: inline-block;
    font-size: 2.5vw;
    outline: none;
    margin: 2px;
}


.button {  
    background-color: #4ca0af; /* Blues */
    border: none;
    color: white;
    display: inline-block;
    font-size: 25px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

#Letters {
    text-align: center;
    font-size: 50px;
    padding-bottom: 35px;
}

.hangman, #button, .TitleBar, #Letters, #NoSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




.hangman {
    display: block;
    width: 20vw;
    border-style: solid;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}



.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.centerLabel{
    display: block;
    text-align: center;
}
.FontSize {
    font-size: 25px;
}

#LifeCounter, #score, #DisplayCatagory  {
    margin: 0px;
}